@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-xs: 375px;
  --font-inter: Inter, "sans-serif";
}

@theme inline {
  /* colors */

  --color-BrandPrimary: #45b5aa;
  --color-BrandPrimary-50: #edf8f7;
  --color-primary-50: #f7fcfc;
  --color-primary-200: #dff6f4;
  --color-main-900: #0a0d14;
  --color-neutral-50: #f9fbfb;
  --color-neutral-100: #EFF2F1;
  --color-neutral-150: #ebefef;
  --color-neutral-200: #e3e8e8;
  --color-neutral-300: #cdd0d5;
  --color-neutral-500: #525866;
  --color-neutral-600: #929b9a;
  --color-neutral-700: #d7d9d9;
  --color-neutral-800: #3d4b49;
  --color-neutral-primary: #3d4b49;
  --color-soft-200: #e2e4e9;
  --color-soft-400: #868c98;
  --color-secondary-pink-500: #ed5eaf;
  --color-secondary-blue-200: #d6e0f5;
  --color-secondary-blue-400: #5281e0;
  --color-warning-200: #f9dcae;
  --color-warning-900: #523300;
  --color-cardFill: #f6f8fa;
  --color-textPrimary: #171c1c;
  --color-yellow-darker: #693d11;
  --color-blue-base: #375dfb;
  --color-blue-light: #3355ff;
  --color-blue-darker: #2945ce;
  --color-negative: #bb2525;

  --color-warning-bg-form: #e9242e;
  --color-red-base: #df1c41;
  --color-red-light: #d31f18;
  --color-red-lighter: #fdedf0;

  --color-pink-base: #ea1166;
  --color-pink-lighter: #fbb9b2;

  --color-green-base: #447205;
  --color-green-lighter: #cbf5e5;
  --color-green-dark: #2d9f75;
  --color-green-light: #6bc82f;
  --color-yellow-base: #f7ed4d;
  --color-orange-base: #f5851f;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Shadows */

  --shadow-card: "0px 6px 10px 0px rgba(27, 28, 29, 0.06), 0px 2px 4px 0px rgba(27, 28, 29, 0.02)";
}

.hostFamilyCardShadow {
  box-shadow: 0 9.675px 16.125px 0 rgba(27, 28, 29, 0.06),
    0 3.225px 6.45px 0 rgba(27, 28, 29, 0.02);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50 scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-inter);
  }
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 173 80% 40%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 173 80% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 173 80% 40%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 173 80% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply cursor-pointer;
  }
}

.container_fluid {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.rdp-day {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.button-shadow {
  box-shadow: 0px 1px 2px 0px rgba(82, 88, 102, 0.06);
}
.cardShadow {
  box-shadow: 0px 6px 10px 0px rgba(27, 28, 29, 0.06),
    0px 2px 4px 0px rgba(27, 28, 29, 0.02);
}
.label-childExperience {
  @apply px-5 py-3 font-medium text-sm text-main-900 border-r;
}
.value-childExperience {
  @apply font-normal text-sm text-main-900;
}
.toolTipShadow {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.15);
}

.noScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.imgControlBtnShadow {
  box-shadow: 0 4.076px 4.076px 0 rgba(0, 0, 0, 0.25);
}
.customCheckbox{
 box-shadow: 0px 1px 2px 0px rgba(82, 88, 102, 0.06);
} 